@page "/schoudersenarmen"
@inject NavigationManager Navigation
@inject StateService StateService
@inject GoogleDriveService GoogleDriveService

<PageTitle>Workout - Schouders en armen</PageTitle>

<h1>Schouders en armen</h1>

<p>
    <a href="/schoudersenarmen/oefening1" class="btn btn-fw">Oefening 1</a>
    <a href="/schoudersenarmen/oefening2" class="btn btn-fw">Oefening 2</a>
</p>

<AuthorizeView>
    <Authorized>
        <p>
            Opslaan knop is alleen om mee te testen. Opslaan straks automatisch maken...
        </p>
        <button class="btn btn-fw" @onclick="VoortgangPersisteren">Voortgang opslaan</button>
    </Authorized>
</AuthorizeView>

<p>
    // todo: alle losse workouts op een eigen pagina (eigen url)?<br/>
    // workout hervatten = ga naar de oefening url en daar kan je gewoon starten (niet halverwege kunnen saven? of wel via querystring oid?)<br />
    // op elke oefening pagina, als klaar save voortgang en ga naar volgende oefening pagina

</p>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }

    private async Task VoortgangPersisteren()
    {
        if (await IsAuthenticated())
        {
            var m = StateService.Model ?? new PersistedModel();
            m.Changed = DateTime.Now;
            m.Url = Navigation.ToBaseRelativePath(Navigation.Uri);
            await GoogleDriveService.SaveAsync(m);
        }
    }

    private async Task<bool> IsAuthenticated()
    {
        if (AuthenticationState is not null)
        {
            var authState = await AuthenticationState;
            var user = authState.User;

            if (user.Identity is not null && user.Identity.IsAuthenticated)
            {
                return true;
            }
        }
        return false;
    }
}