$primary: #d6572b;

$text-high-emphasis-color: rgba(#fff, .87);
$text-medium-emphasis-color: rgba(#fff, .60);
$text-muted: rgba(#fff, .38);

$font-size-base: .875rem; // 14px
$font-size-sm: $font-size-base * .83;
$font-size-xs: $font-size-base * .67;
