$green: #198754;
$red: #e74c3c;
$orange: #d6572b;
$blue: #1690e8;

$primary: $blue;

$text-high-emphasis-color: rgba(#000, .87);
$text-medium-emphasis-color: rgba(#000, .60);
$text-muted: #6c757d;

$font-size-base: .875rem; // 14px
$font-size-sm: $font-size-base * .83;
$font-size-xs: $font-size-base * .67;
