.animation-float-in {
    animation: float-in 1s 1 linear;
    animation-fill-mode: forwards;
    transform: matrix(1,0,0,1,0,-15);
    opacity: .005;
}

@keyframes float-in {
    0% {
        animation-timing-function: cubic-bezier(0.2241,0.75,0.3141,0.8150);
        transform: translate(0,-15%);
        opacity: .005;
    }

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

.animation-float-out {
    animation: float-out 1s 1 linear;
    animation-fill-mode: forwards;
    transform: matrix(1,0,0,1,0,0);
    opacity: 1;
}

@keyframes float-out {
    0% {
        animation-timing-function: cubic-bezier(0.2241,0.75,0.3141,0.8150);
        transform: translate(0,0);
        opacity: 1;
    }

    100% {
        transform: translate(0,-15%);
        opacity: .005;
    }
}

.animation-fade-in {
    animation: fade-in 1s 1 linear;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.animation-fade-out {
    animation: fade-out 1s 1 linear;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes fade-out {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.animation-fade-out-up {
    animation: fade-out-up 1s 1s 1 linear;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes fade-out-up {
    from {
        animation-timing-function: cubic-bezier(.25,.75,.5,1.25);
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}
