.animation-float-in {
    animation: float-in 1s 1 linear;
    animation-fill-mode: forwards;
    transform: matrix(1,0,0,1,0,-15);
    opacity: .005;
}

@keyframes float-in {
    0% {
        animation-timing-function: cubic-bezier(0.2241,0.75,0.3141,0.8150);
        transform: translate(0,-15%);
        opacity: .005;
    }

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

.animation-float-out {
    animation: float-out 1s 1 linear;
    animation-fill-mode: forwards;
    transform: matrix(1,0,0,1,0,0);
    opacity: 1;
}

@keyframes float-out {
    0% {
        animation-timing-function: cubic-bezier(0.2241,0.75,0.3141,0.8150);
        transform: translate(0,0);
        opacity: 1;
    }

    100% {
        transform: translate(0,-15%);
        opacity: .005;
    }
}
