.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.75rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #303030;
    border-color: #303030;
    margin-top: .25rem;

    &:hover {
        color: #fff;
        background-color: #212121;
        border-color: #1d1d1d;
    }

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: 0 0 0 0 rgba(48, 48, 48, 0.5);
    }
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: 0.65;
        color: #fff;
        background-color: #303030;
        border-color: #303030;
    }
    // Opinionated: add "hand" cursor to non-disabled .btn elements
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        background-image: none;
        color: #fff;
        background-color: #1d1d1d;
        border-color: #171717;
    }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn-fw { // full width
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.btn-orange {
    color: #fff;
    background-color: $orange;
    border-color: $orange;

    &:hover {
        color: #fff;
        background-color: #b74923;
        border-color: #ad4521;
    }
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        color: #fff;
        background-color: $orange;
        border-color: $orange;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        color: #fff;
        background-color: #ad4521;
        border-color: #a2411f;
    }
}

.btn-green {
    color: #fff;
    background-color: $green;
    border-color: $green;

    &:hover {
        color: #fff;
        background-color: #136740;
        border-color: #115c39;
    }
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        color: #fff;
        background-color: $green;
        border-color: $green;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        color: #fff;
        background-color: #115c39;
        border-color: #0f5133;
    }
}

.btn-red {
    color: #fff;
    background-color: $red;
    border-color: $red;

    &:hover {
        color: #fff;
        background-color: #e12e1c;
        border-color: #d62c1a;
    }
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        color: #fff;
        background-color: $red;
        border-color: $red;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        color: #fff;
        background-color: #d62c1a;
        border-color: #ca2a19;
    }
}

.btn-link {
    color: $primary;
    background-color: transparent;
    border-color: transparent;

    &:hover {
        color: $primary;
        background-color: transparent;
        border-color: transparent;
        opacity: .8;
    }

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: none;
    }
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        color: $text-muted;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
        color: $primary;
        background-color: transparent;
        border-color: transparent;
    }
}
