.gewicht-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "label dropdown"
        "button button";
    gap: 1rem;
}

.gewicht-container label {
    grid-area: label;
}

.gewicht-dropdown {
    grid-area: dropdown;
}

.btn-log-gewicht {
    grid-area: button;
}

.gewicht-container label,
.gewicht-dropdown {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.75rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #303030;
    border-color: #303030;
    position: relative;
}

.grafiek-container {
    padding: 0.75rem 0.75rem;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #303030;
    border-color: #303030;
}

.staaf-grafiek {
    height: 20vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content auto max-content;
    gap: 1rem;
    text-align: center;
    align-items: end;
    position: relative;

    .gewicht-label {
    }

    .staaf {
        background-color: $primary;
        border-radius: 0.25rem;
    }

    .dag-label {
    }
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #303030;
    border-color: #303030;
}

.week-row {
    display: contents;
}

.day-cell {
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 0.25rem;
}

.other-month {
    background-color: #303030;
    opacity: .5;
}

.current-month {
    background-color: #303030;
}

.is-log-datum {
    background-color: $primary;
}