﻿.login-display {
    z-index: 1;
}

.avatar {
    font-weight: bold;
    font-size: 1rem;
    width: 44px;
    height: 44px;
    display: grid;
    justify-content: center;
    align-content: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 44px 44px;
    border-radius: 0.25rem;
    border: 1px solid #000;
    cursor: pointer;
    color: #000;
    background-color: #fff;
}
