body {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background-color: #111111;
}

#app {
}

#app-loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    .brand {
        color: #fff;
        font-family: "Rajdhani", sans-serif;
        font-weight: 600;
        font-size: 6rem;
        position: relative;
        pointer-events: none;
    }

    .progress {
        position: absolute;
        height: 2px;
        bottom: 10%;
        left: 10%;
        width: 80%;

        .progress-bar {
            width: var(--blazor-load-percentage, 0%);
        }
    }
}

header {
}

main {
}
