nav {
    display: grid;
    align-items: baseline;

    ul {
        display: grid;
        gap: 1rem;
    }

    .nav-item {
        .nav-link {
            display: flex;
            flex-direction: column;
            width: 100%;
            transition: opacity 0.15s ease-in-out;
        }

        .nav-link:focus,
        .nav-link:hover {
            opacity: .8;
        }
    }

    .categorie {
        margin-left: 25%;
        width: 50%;
    }

    p {
        color: #fff;
        text-align: center;
        background-color: #303030;
        padding: 0.75rem 0.75rem;
    }

    img + p {
        margin-top: -.75rem;
    }

    img {
        height: 18vh;
        z-index: 1;
    }
}
