@inject NavigationManager Navigation

<div class="login-display">
    <AuthorizeView>
        <Authorized>
            <div class="dropdown">
                <button class="avatar dropdown-toggle">@context.User.Identity?.Name?.Substring(0, 1)</button>
                <div class="dropdown-menu dropdown-menu-right-aligned">
                    <h6 class="dropdown-header">@context.User.Identity?.Name</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="" @onclick="Logout">Logout</a>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <a href="authentication/login" class="btn btn-link" title="Login om voortgang automatisch op te slaan">
                Login
            </a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    private void Logout()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
