@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <a href="" class="btn btn-fw" title="@context.User.Identity?.Name" @onclick="BeginLogOut">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login" class="btn btn-fw"><i class="fa-brands fa-google"></i> Login met Google</a>
        <p class="login-toelichting">Login om voortgang automatisch op te slaan.</p>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
