.spinner,
.spinner-sm {
    animation: spinner 3s linear infinite;
    color: #31cc89;
    fill: none;
    stroke: currentColor;
    stroke-dasharray: 72.822509765625 15;
    stroke-dashoffset: 263.467529296875;
    stroke-linecap: round;
    stroke-width: 10;
    height: 2rem;
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.spinner-sm {
    height: 1rem;
    width: 1rem;
}

.btn .spinner {
    height: 1rem;
    width: 1rem;
    position: relative;
    top: 3px;
    margin-left: 0.25rem;
}

@keyframes spinner {
    0% {
        stroke-dasharray: 72.822509765625 15;
        stroke-dashoffset: 263.467529296875;
    }

    6% {
        stroke-dasharray: 1 86.822509765625;
        stroke-dashoffset: 150;
    }

    46% {
        stroke-dasharray: 1 86.822509765625;
        stroke-dashoffset: 110;
    }

    53% {
        stroke-dasharray: 72.822509765625 15;
        stroke-dashoffset: 40;
    }

    100% {
        stroke-dashoffset: 0;
    }
}
