.oefening {
    max-width: 255px;

    &-titel,
    &-nummer {
        font-family: "Rajdhani", sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    &-nummer {
        color: $text-muted;
    }

    &-midden-container {
        position: relative;
        margin-top: 0.5rem;
    }

    &-herhalingen,
    &-sets {
        font-family: "Rajdhani", sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1;
    }

    &-herhalingen {
        text-align: right;
        position: absolute;
        top: 1px;
        left: 1px;
        background-color: #000;
        padding: 10px;
    }

    &-sets {
        text-transform: uppercase;
        position: absolute;
        top: 1px;
        right: 1px;
        background-color: #000;
        padding: 10px;
    }

    &-afbeelding {
    }

    &-tijd {
        margin-top: .25rem;
        text-align: center;

        .resterende-tijd {
            font-family: "Rajdhani", sans-serif;
            font-weight: 600;
            font-size: 3rem;
            line-height: 1;
        }
    }

    &-tips {
        list-style: inside;
        margin-top: 0.25rem;
    }

    img,
    embed {
        max-width: 255px;
    }
}

.start-stop {
    margin: 1rem 0;
}

.volgende-set-preview {
    color: $text-muted;
    margin: 1rem 0;
    max-width: 255px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    img {
        max-width: 100px;
        margin-left: .5rem;
    }
}