.oefening {
    max-width: 255px;

    &-titel,
    &-nummer {
        font-family: "Rajdhani", sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    &-nummer {
        color: $text-muted;
    }

    &-afbeelding {
        margin-top: 0.5rem;
    }

    &-herhalingen,
    &-sets {
        width: 50px;
    }

    &-sets {
        text-align: right;
    }

    &-tijd {
        // fix verschuiven van tijd bij aftellen door fixed width met margin left
        width: 110px;
        margin-left: 30px;
        margin-top: 0.25rem;

        .resterende-tijd {
            font-family: "Rajdhani", sans-serif;
            font-weight: 600;
            font-size: 3rem;
            line-height: 1;
        }
    }

    &-tips {
        list-style: inside;
        margin-top: 0.25rem;
    }

    img,
    embed {
        max-width: 255px;
    }
}

.start-stop {
    margin: 1rem 0;
}
