@page "/authentication/{action}"

<Header>
    <Middle>
        <h1 class="header-title">
            WORKOUT
        </h1>
    </Middle>
</Header>

<div class="authentication center">
    <RemoteAuthenticatorView Action="@Action">
        <LoggingIn>
            <p class="authentication-description">Checking login state...</p>
            <Fingerprint />
        </LoggingIn>
        <CompletingLoggingIn>
            <p class="authentication-description">Completing login...</p>
            <Fingerprint />
        </CompletingLoggingIn>
        <LogOutSucceeded>
            <Redirect Url=""/>
        </LogOutSucceeded>
    </RemoteAuthenticatorView>
</div>

@code{
    [Parameter] public string? Action { get; set; }
}
