@page "/authentication/{action}"

<div class="authentication">
    <RemoteAuthenticatorView Action="@Action">
        <LoggingIn>
            <p class="authentication-description">Checking login state...</p>
            <Fingerprint />
        </LoggingIn>
        <CompletingLoggingIn>
            <p class="authentication-description">Completing login...</p>
            <Fingerprint />
        </CompletingLoggingIn>
        <LogOutSucceeded>
            <Redirect Url=""/>
        </LogOutSucceeded>
    </RemoteAuthenticatorView>
</div>

@code{
    [Parameter] public string? Action { get; set; }
}
