@page "/"
@inject StateService StateService
@inject GoogleClient GoogleClient

<Header>
    <Middle>
        <h1 class="header-title">
            WORKOUT
        </h1>
    </Middle>
    <Right>
        <LoginDisplay />
    </Right>
</Header>

<div class="center w-50">
    <nav>
        <ul>
            <li class="nav-item">
                <NavLink class="nav-link" href="schoudersenarmen" Match="NavLinkMatch.Prefix">
                    <img src="images/gym-23.svg" alt="schouders en armen" />
                    <p>Schouders en armen</p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="benen" Match="NavLinkMatch.Prefix">
                    <img src="images/gym-14.svg" alt="benen" />
                    <p>Benen</p>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="borstenrug" Match="NavLinkMatch.Prefix">
                    <img src="images/gym-22.svg" alt="borst en rug" />
                    <p>Borst en rug</p>
                </NavLink>
            </li>
        </ul>
    </nav>

    <AuthorizeView>
        <Authorized>
            <div>
                <div class="gewicht">
                    <InputNumber TValue="decimal" @bind-Value="@gewicht" step="any" inputmode="decimal" pattern="[0-9]*" name="gewicht" unit="kgs" autoComplete="off" />
                    <SpinnerButton Text="Log kg" OnClick="GewichtLoggen" />
                </div>

                @if (!string.IsNullOrEmpty(StateService.Model?.Url))
                {
                    <a href="@StateService.Model.Url" class="btn btn-fw btn-orange">Workout hervatten</a>
                }
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@code
{
    private decimal gewicht;

    private Task GewichtLoggen()
    {
        return GoogleClient.SavePersoonlijkeGegevensLogAsync(gewicht);
    }
}