@page "/"
@inject StateService StateService

<AuthorizeView>
    <Authorized>
        <div class="mb-1">
            @if (!string.IsNullOrEmpty(StateService.Model?.Url))
            {
                <a href="@StateService.Model.Url" class="btn btn-fw btn-primary">Workout hervatten</a>
            }
        </div>
    </Authorized>
</AuthorizeView>

<nav>
    <ul>
        <li class="mb-1">
            <NavLink class="btn btn-fw" href="schoudersenarmen" Match="NavLinkMatch.Prefix">
                Schouders en armen
            </NavLink>
        </li>
        <li class="mb-1">
            <NavLink class="btn btn-fw" href="benen" Match="NavLinkMatch.Prefix">
                Benen
            </NavLink>
        </li>
        <li class="mb-1">
            <NavLink class="btn btn-fw" href="borstenrug" Match="NavLinkMatch.Prefix">
                Borst en rug
            </NavLink>
        </li>
    </ul>
</nav>

<div class="mt-5">
    <LoginDisplay/>
</div>
