@page "/"
@attribute [Authorize]
@inject GoogleDriveService GoogleDriveService
@inject ILogger<MainLayout> Logger

<nav>
    <ul>
        <li class="nav-item">
            <NavLink class="nav-link" href="schoudersenarmen" Match="NavLinkMatch.Prefix">
                Maandag - Schouders en armen
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="benen" Match="NavLinkMatch.Prefix">
                Woensdag - Benen
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="borstenrug" Match="NavLinkMatch.Prefix">
                Vrijdag - Borst en rug
            </NavLink>
        </li>
    </ul>
</nav>

<button @onclick="CreateFile">Create file test</button>

@if (isLoading)
{
    <p>loading...</p>
}
else if (model != null)
{
    <p>@model.Changed</p>
}
else
{
    <p>Geen data gevonden.</p>
}

@code
{
    private WorkoutModel? model;
    private bool isLoading;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            isLoading = true;
            model = await GoogleDriveService.OpenAsync();
        }
        catch (Exception e)
        {
            Logger.LogError(e, e.Message);
            throw;
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task CreateFile()
    {
        var m = model ?? new WorkoutModel();
        m.Changed = DateTime.Now;
        await GoogleDriveService.OpslaanAsync(m);
    }
}
